<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Circle :: Find awesome events near you</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      #map_canvas {
      height: 300px;
      }
      .navbar a.brand {
      font-size: 24px;
      }
      .controls .thumbnail {
      width: 160px;
      }
      #city-field {
      height: 28px;
      }
      #category {
      width: 150px;
      text-align: left;
      }
      #map_canvas h1 {
        margin: 10px;
        padding: 10px;
        background-color: #fff;
        display: inline;
        border-radius: 5px;
      }
      .carousel {
        height: 327px;
      }
    </style>
    <link rel="stylesheet" href="css/kalendae.css">
    <link rel="stylesheet" href="css/timePicker.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />

</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Circle</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#friends">Friends</a></li>
            <li><a href="#inbox">Inbox</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="row">
    <div class="span6 hero-unit">
      <h1>Find an Event</h1>

      <p>This is a template for a simple marketing or informational
      website. It includes a large callout</p>


      <input class="input-xlarge cityTypeahead" type="text" />


      <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    <div class="span4 well">
      <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="img/beer.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Beer tasting @ Mother Road Brewery</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="img/chicago.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Chicago @ Theatrikos</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="img/nutcracker.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Tchaikovsky's Nutcracker @ Ardrey Auditorium</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
    </div>

    </div>

    <!-- Example row of columns -->
    <div class="row">
      <div id="map_canvas" class="span8">`

      </div>

      <div class="span4">
        <h2>Create your own event</h2>
        <ul id="event-list"></ul>
       <label>Venue: <input id="venue" class="input-xlarge venue-typeahead" type="text" /></label>
        <p><a class="btn"
              href="#create-event-modal">
            Create Event &raquo;
        </a></p>
      </div>
    </div>

    <hr>

    <footer>
      <p>&copy; Company 2012</p>
    </footer>

  </div> <!-- /container -->

  <div class="modal fade" id="create-event-modal">
  </div>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="name"><%= name %></div>
    <div class="description"><%= description %></div>
  </script>

  <script id="create-event-view-template" type="text/x-handlebars-template">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>Create Event</h3>
    </div>

    <form class="form-horizontal">
        <fieldset>

          <legend></legend>

          <div class="control-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="name">
              <p class="help-block">
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="details">Details</label>
            <div class="controls">
              <textarea class="input-xlarge" id="details" rows="3"></textarea>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="where">Where</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="where">
              <p class="help-block">
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="startDate">Starts</label>
            <div class="controls">

              <div class="input-append my-date-picker">
                <input type="text"
                       class="auto-kal input-small"
                       id="startDate"><span class="add-on">
                  <i class="icon-calendar"></i></span>
              </div>

              <div class="input-append my-time-picker">
                <input type="text"
                       class="auto-time input-small"
                       id="startDate-time"><span class="add-on">
                  <i class="icon-time"></i></span>
              </div>

              <p class="help-block">
                <a id="add-end-time" href="#">End time?</a>
              </p>
            </div>
          </div>

          <div id="end-time-group" class="control-group" style="display: none">
            <label class="control-label" for="endDate">Ends</label>
            <div class="controls">

              <div class="input-append my-date-picker">
                <input type="text"
                       class="auto-kal input-small"
                       id="endDate"><span class="add-on">
                  <i class="icon-calendar"></i></span>
              </div>

              <div class="input-append my-time-picker">
                <input type="text"
                       class="auto-time input-small"
                       id="endDate-time"><span class="add-on">
                  <i class="icon-time"></i></span>
              </div>

              <p class="help-block">
              </p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
              <div class="btn-group">
                <button id="category" class="btn">
                  Choose a category...
                </button>
                <button class="btn dropdown-toggle"
                        data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul id="category-list" class="dropdown-menu">
                </ul>
              </div>
            </div>
          </div>

        </fieldset>
    </form>

    <div class="modal-footer">
      <a href="#" id="close" class="btn">Close</a>
      <a href="#" id="save" class="btn btn-primary">Save changes</a>
    </div>
  </script>

  <script id="category-list-item-view-template"
          type="text/x-handlebars-template">
    <a>{{name}}</a>
  </script>

  <script src="js/jquery-1.7.1.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/autocomplete.js"></script>
  <script src="js/jquery.venueTypeahead.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/handlebars-1.0.0.beta.6.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDi1oeiNkBAo_dNgbJwdcY-usEv-d6FOt4&sensor=false"></script>
  <script src="js/bootstrap-ajax-typeahead.js"></script>
  <script src="js/bootstrap-carousel.js"></script>
  <script src="js/kalendae.js"></script>
  <script src="js/jquery.timePicker.min.js"></script>
  <script src="js/main.js"></script>
  <script type="text/javascript">
  var mapOptions = {
    zoom: 9,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    scrollwheel: false
  }

  var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function(pos) {
        var latlng = new google.maps.LatLng(pos.coords.latitude,
                                              pos.coords.longitude);
        map.setCenter(latlng);

        var markerImage = new google.maps.MarkerImage(
          'img/blue dot.png',
          new google.maps.Size(50, 50),
          new google.maps.Point(0,0),
          new google.maps.Point(25, 25));

        var marker = new google.maps.Marker({
          map: map,
          position: latlng,
          icon: markerImage

        })

        //Geocode LatLng into an address
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({'latLng': latlng}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              Circle.currentLocation = results[1].formatted_address;
              $('.venue-typeahead').venueTypeahead();

            } else {
              alert("Geocoder failed due to: " + status);
            }
          }
        });


      },
      function(msg) {
        error(msg);
      }
    );
  } else {
    error('not supported');
  }

  $(function() {
    $('.carousel').carousel();
  })


  </script>
</body>

</html>
