[submodule "Circle/DCRoundSwitch"]
	path = Circle/DCRoundSwitch
	url = https://github.com/domesticcatsoftware/DCRoundSwitch.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
[submodule "Circle/RestKit"]
	path = Circle/RestKit
	url = https://github.com/RestKit/RestKit.git
[submodule "Circle/EGOTableViewPullRefresh"]
	path = Circle/EGOTableViewPullRefresh
	url = https://github.com/enormego/EGOTableViewPullRefresh.git
